<h1 style="padding: 20px; text-align: center;">
  Приложение Checklist от
  <a
    href="https://azatfarmanyan.netlify.app/"
    target="_blank"
    style="
      color: #3498db;
      text-decoration: none; 
      font-weight: bold; 
      transition: color 0.3s ease, text-decoration 0.3s ease;
    "
    onmouseover="this.style.textDecoration='underline'; this.style.color='#1abc9c';"
    onmouseout="this.style.textDecoration='none'; this.style.color='#3498db';"
    title="Перейти на сайт Азата Фарманяна"
  >
    Азат Фарманян
  </a>
</h1>
<router-outlet></router-outlet>